:root {
  --graygray-700: rgba(74, 85, 104, 1);
  --graygray-50: rgba(250, 250, 250, 1);
  --graygray-800: rgba(45, 55, 72, 1);
  --graygray-900: rgba(26, 32, 44, 1);
  --graygray-600: rgba(113, 128, 150, 1);
  --shadeprimary-lite-bg: rgba(231, 218, 237, 1);
  --basewhite: rgba(255, 255, 255, 1);
  --shadepink-lite: rgba(255, 233, 233, 1);
  --brandprimary-bg: rgba(87, 0, 123, 1);
  --headings-headings-h6-font-family: "Inter", Helvetica;
  --headings-headings-h6-font-weight: 500;
  --headings-headings-h6-font-size: 16px;
  --headings-headings-h6-letter-spacing: 0px;
  --headings-headings-h6-line-height: 25px;
  --headings-headings-h6-font-style: normal;
  --button-text-btn-lg-font-family: "Inter", Helvetica;
  --button-text-btn-lg-font-weight: 600;
  --button-text-btn-lg-font-size: 14px;
  --button-text-btn-lg-letter-spacing: 0px;
  --button-text-btn-lg-line-height: 14px;
  --button-text-btn-lg-font-style: normal;
  --headings-headings-h3-font-family: "Inter", Helvetica;
  --headings-headings-h3-font-weight: 600;
  --headings-headings-h3-font-size: 28px;
  --headings-headings-h3-letter-spacing: 0px;
  --headings-headings-h3-line-height: 136.02272272109985%;
  --headings-headings-h3-font-style: normal;
  --headings-headings-h2-font-family: "Inter", Helvetica;
  --headings-headings-h2-font-weight: 700;
  --headings-headings-h2-font-size: 35px;
  --headings-headings-h2-letter-spacing: 0px;
  --headings-headings-h2-line-height: 55px;
  --headings-headings-h2-font-style: normal;
  --headings-light-h2-font-family: "Inter", Helvetica;
  --headings-light-h2-font-weight: 400;
  --headings-light-h2-font-size: 35px;
  --headings-light-h2-letter-spacing: 0px;
  --headings-light-h2-line-height: 55px;
  --headings-light-h2-font-style: normal;
  --paragraphs-para-1-font-family: "Inter", Helvetica;
  --paragraphs-para-1-font-weight: 400;
  --paragraphs-para-1-font-size: 18px;
  --paragraphs-para-1-letter-spacing: 0px;
  --paragraphs-para-1-line-height: 30px;
  --paragraphs-para-1-font-style: normal;
  --footer-footer-links-font-family: "Poppins", Helvetica;
  --footer-footer-links-font-weight: 400;
  --footer-footer-links-font-size: 16px;
  --footer-footer-links-letter-spacing: 0px;
  --footer-footer-links-line-height: 236.29999160766602%;
  --footer-footer-links-font-style: normal;
  --headings-headings-h5-font-family: "Inter", Helvetica;
  --headings-headings-h5-font-weight: 700;
  --headings-headings-h5-font-size: 18px;
  --headings-headings-h5-letter-spacing: -0.09px;
  --headings-headings-h5-line-height: normal;
  --headings-headings-h5-font-style: normal;
  --footer-footer-sm-font-family: "Inter", Helvetica;
  --footer-footer-sm-font-weight: 400;
  --footer-footer-sm-font-size: 14px;
  --footer-footer-sm-letter-spacing: -0.07px;
  --footer-footer-sm-line-height: 10px;
  --footer-footer-sm-font-style: normal;
  --headings-headings-h4-font-family: "Inter", Helvetica;
  --headings-headings-h4-font-weight: 600;
  --headings-headings-h4-font-size: 20px;
  --headings-headings-h4-letter-spacing: 0px;
  --headings-headings-h4-line-height: 136.5227222442627%;
  --headings-headings-h4-font-style: normal;
  --body-base-font-family: "Inter", Helvetica;
  --body-base-font-weight: 400;
  --body-base-font-size: 16px;
  --body-base-letter-spacing: 0px;
  --body-base-line-height: 139.9999976158142%;
  --body-base-font-style: normal;
  --single-line-body-base-font-family: "Inter", Helvetica;
  --single-line-body-base-font-weight: 400;
  --single-line-body-base-font-size: 16px;
  --single-line-body-base-letter-spacing: 0px;
  --single-line-body-base-line-height: 100%;
  --single-line-body-base-font-style: normal;
  --paragraphs-default-font-family: "Inter", Helvetica;
  --paragraphs-default-font-weight: 400;
  --paragraphs-default-font-size: 14px;
  --paragraphs-default-letter-spacing: 0px;
  --paragraphs-default-line-height: 162.02272176742554%;
  --paragraphs-default-font-style: normal;
  --btn-shadow: 0px 4px 49px 0px rgba(0, 0, 0, 0.15);
  --card-shadow-lite: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  --shadow-nav-shadown: 0px 4px 40px 0px rgba(0, 0, 0, 0.1);
  --color-text-default-default: var(--color-primitives-gray-900);
  --color-text-default-tertiary: var(--color-primitives-gray-400);
  --color-text-brand-on-brand: var(--color-primitives-brand-100);
  --color-background-default-default: var(--color-primitives-white-1000);
  --color-border-default-default: var(--color-primitives-gray-300);
  --color-background-brand-default: var(--color-primitives-brand-800);
  --color-border-brand-default: var(--color-primitives-brand-800);
  --color-text-neutral-default: var(--color-primitives-slate-900);
  --color-background-brand-hover: var(--color-primitives-brand-900);
  --color-primitives-gray-900: rgba(30, 30, 30, 1);
  --color-primitives-gray-400: rgba(179, 179, 179, 1);
  --color-primitives-brand-100: rgba(245, 245, 245, 1);
  --color-primitives-white-1000: rgba(255, 255, 255, 1);
  --color-primitives-white-400: rgba(255, 255, 255, 0.4);
  --color-primitives-brand-900: rgba(30, 30, 30, 1);
  --color-primitives-gray-300: rgba(217, 217, 217, 1);
  --color-primitives-brand-800: rgba(44, 44, 44, 1);
  --color-primitives-gray-600: rgba(68, 68, 68, 1);
  --color-primitives-slate-900: rgba(48, 48, 48, 1);
  --color-primitives-slate-200: rgba(227, 227, 227, 1);
  --color-primitives-brand-300: rgba(217, 217, 217, 1);
  --size-space-400: 16px;
  --size-space-300: 12px;
  --size-radius-200: 8px;
  --size-space-200: 8px;
  --size-space-600: 24px;
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-color-mode="SDS-light">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-color-mode="SDS-light"] {
  --color-text-default-default: var(--color-primitives-gray-900);
  --color-text-default-tertiary: var(--color-primitives-gray-400);
  --color-text-brand-on-brand: var(--color-primitives-brand-100);
  --color-background-default-default: var(--color-primitives-white-1000);
  --color-border-default-default: var(--color-primitives-gray-300);
  --color-background-brand-default: var(--color-primitives-brand-800);
  --color-border-brand-default: var(--color-primitives-brand-800);
  --color-text-neutral-default: var(--color-primitives-slate-900);
  --color-background-brand-hover: var(--color-primitives-brand-900);
}

[data-color-mode="SDS-dark"] {
  --color-text-default-default: var(--color-primitives-white-1000);
  --color-text-default-tertiary: var(--color-primitives-white-400);
  --color-text-brand-on-brand: var(--color-primitives-brand-900);
  --color-background-default-default: var(--color-primitives-gray-900);
  --color-border-default-default: var(--color-primitives-gray-600);
  --color-background-brand-default: var(--color-primitives-brand-100);
  --color-border-brand-default: var(--color-primitives-brand-100);
  --color-text-neutral-default: var(--color-primitives-slate-200);
  --color-background-brand-hover: var(--color-primitives-brand-300);
}
